.body_background 
{
    background-image: url("avengerbg.jpg");
    background-position: center;
	background-size: cover;
	overflow: hidden;
}
#Avengerboogle
{
    border-width:10px;
    background-color: white; 
	border-style:ridge;
	border-color:green;
	margin-bottom: 40px;
}

h2
{
	border-radius: 10px;
	width: 200px;
	padding: 5px;
 }
h3
{
	display: inline-block;
}
span
{
	color: black;	
}
a
{
	text-decoration: none;
	font-size: 20px;
	padding: 10px;
    float: left;
    border-radius: 10px;
}
#head_info
{
	width: 600px;
	border-radius: 10px;
	margin-bottom: 10px;
}
button{
	background-image: linear-gradient(lightgreen, lightblue);
	font-size: 17px;
}